<h2 #top class="subtitle">Services</h2>
<p>Services are files that organize and share business logic,
    models, or data and functions. This allows multiple components to use these methods. Generate a new service file with the following command
    in the CLI:
</p>

<!--SERVICES-->
<div>
<pre class="col-md-10">ng generate service 'book'</pre>

<p>A service is decorated with the @Injectable() decorator, this lets Angular know that this is a service that will be used
    for dependency injection. ProvidedIn: 'root' means that we want to declare the service in the root of the application,
    so it can be accessed by any component. Another way to declare the service, is by adding it to the list of providers in the module.ts file</p>

<pre class="col-md-10">
    <em>book.service.ts</em>
    import {{'{'}} Injectable } from 'angular/core';

    <mark>@Injectable({{'{'}}</mark>
        <mark>providedIn: 'root'</mark>
        )}
    export class BookService {{'{'}}
        constructor() {{'{'}} {{'}'}}
    }
</pre>

<p>In here you can create properties or methods you want to share with multiple components. It is common to write asynchronous methods, such as request methods in here.
    The following example is a mock method that returns an array of books, this is a synchronous method.</p>
<pre class="col-md-10">
    <em>book.service.ts</em>
    getAllBooks(): Book[] {{'{'}}
     return BOOKS;
    }
</pre>
<p>To use a service in a component, inject it into the constructor rather than creating a BookService instance with the new keyword, this is called Dependency Injection.
    Then in the ngOnInit method we can initialize our books[] property by calling the service method.
</p>
<pre class="col-md-10">
    <em>component.ts</em>
    books[];

    constructor(<mark>private bookService: BookService</mark>) {{'{'}} }

    ngOnInit() {{'{'}}
        this.books = this.bookService.getAllBooks;
    }
</pre>
</div>
<hr>

<!--OBSERVABLES-->
<div>
<h4 class="subtitle">Observables</h4>
<p>In a real application you would not be using mock data, you would be getting your data from a remote server. Asynchronous methods allow your application to continue running without it being blocked by a request call.
    Observables is a class from the RxJS library and are used to make asynchronous calls. We can change the getAllBooks method in our book service to return an Observable of type Books[ ]. </p>

<pre class="col-md-10">
    <em>book.service.ts</em>
    getAllBooks(): <mark>Observable&lt;Book[]&gt;</mark> {{'{'}}
    return of (BOOKS);
}
</pre>
<p>When we use this method in our components to fetch the books, we need to subscribe to it. This is what makes it Asynchronous,
    it prevents the UI from freezing or any other functions from being blocked whilst it is fetching the data. We subscribe to the data returned and assign it
to our local variable books[ ].</p>

<pre class="col-md-10">
     <em>component.ts</em>
    books[];

    constructor(private bookService: BookService) {{'{'}} }

    ngOnInit() {{'{'}}
     this.bookService.getAllBooks.<mark>subscribe( data => {{'{'}}</mark>
     <mark>this.books = data</mark>
    });
    }
</pre>
</div>



<br>
<hr>

<div class="btNav">
  <button (click)="next()" class="btn b2">Pipes <i class="fa fa-arrow-right"></i></button>
  <button (click)="scroll()" class="btn b2"><i class="fa fa-arrow-up"></i></button>
  <button (click)="previous()" class="btn b2"><i class="fa fa-arrow-left"></i> Directives</button>
</div>

