<h2 #top class="subtitle">Pipes</h2>
<p>Pipes are functions that can be used to format the content of your html elements. To use a Pipe we use '|' inside interpolation. Pipes can make the content more readable. </p>

<!--BUILT IN PIPES-->
<div>
<h4 class="subtitle">Built in Pipes</h4>
<p>There are a number of built in Pipes. A pipe can accept any number of optional parameters for further formatting, you can see this in the example below, we specify the
    currency type, the date format, and the number we want to round up to. Parameters are defined after the colon ':'.</p>
<pre class="col-md-10">
    <em>component.ts</em>
    film = {{'{'}}
      title: 'Interstellar',
      rating: 4.9745,
      price: 15.99,
      releaseDate: new Date(2014, 11, 7)
    };

    <em>component.html</em>
    &lt;div&gt; Film title: {{'{{'}} film.title <mark>| uppercase</mark> }}  &lt;/div&gt;
    &lt;div&gt; Rating: {{'{{'}} film.rating <mark>| number: '1.1-1'</mark> }}  &lt;/div&gt;
    &lt;div&gt; Price: {{'{{'}} film.price <mark>| currency: 'GBP'</mark> }}  &lt;/div&gt;
    &lt;div&gt; Release Date: {{'{{'}} film.releaseDate <mark>| date: 'mediumDate'</mark> }}  &lt;/div&gt;

    <em>Output</em>
    Film title: {{ film.title | uppercase }}
    Rating: {{ film.rating | number: '1.1-1' }}
    Price: {{ film.price | currency: 'GBP' }}
    Release Date: {{ film.releaseDate | date: 'mediumDate' }}

</pre>

<p>Below we have another example where we toggle the date format by passing in a method from the component as a parameter.</p>

<pre class="col-md-10">
    &lt;div&gt; My Birthday is {{'{{'}}birthday <mark>| date: format</mark>}} &lt;/div&gt;

    <em>component.ts</em>
    birthday = new Date(1988, 11, 31);
    toggle = true;
    get <mark>format() {{'{'}} return this.toggle: 'shortDate' ? 'fullDate';</mark> }
    toggleFormat() {{'{'}} this.toggle = !this.toggle; }
</pre>
<em>Try me...</em> <br>
<p>My birthday is {{birthday | date: format}}</p>
<button class="btn btn-sm bt" (click)="toggleFormat()">Toggle Date Format</button>
</div>
<HR>


<!--CUSTOM PIPES-->
<div>
<h4 class="subtitle">Custom Pipes</h4>
<p>We will create a custom pipe that can reverse a string input, first enter the following command in the CLI:</p>
<pre class="col-md-10">ng generate pipe reverse</pre>
<div>This will generate a file that will have the boilerplate code set up. Here are some things to note about a Pipe class:
    <div>
        <ol>
            <li>A Pipe class is decorated with the @Pipe() decorator. </li>
            <li>Inside the parenthesis of the decorator we need to give the pipe a name, this will be the name used in the html. </li>
            <li>A custom pipe class implements the PipeTransform interface. </li>
            <li>We implement the transform method, this method takes in an input, this will be the content we want to format. It also takes in optional arguments, and returns the formatted input.</li>
        </ol>
    </div>
</div>
<pre class="col-md-10">
    <em>reverse.pipe.ts</em>
    import {{'{'}}Pipe, PipeTransform } from '@angular/core';

<mark>@Pipe({{'{'}}
    name: 'reversePipe'
})</mark>
export class ReversePipePipe <mark>implements PipeTransform</mark> {{'{'}}

    transform(value: any, ...args: any[]): any {{'{'}}
    return null;
  }
}
</pre>

<p>Inside the transform method we can take the input string value, reverse it and return the string. This method doesn't have any arguments</p>
<pre class="col-md-10">
     <em>reverse.pipe.ts</em>
    <mark>transform(value: string): string</mark> {{'{'}}
    let newStr: = "";
    for (let i = value.length -1; i >= 0; i--) {{'{'}}
    <mark>newStr += value.charAt(i);</mark>
    }
    return newStr;
  }
</pre>
<em>Type here...</em>
<br>
<input id="pipeExample" type="text" [(ngModel)]="str">
<div>{{str | reversePipe}}</div>
</div>
<hr>


<!--CUSTOM PIPE WITH ARGUMENT-->
<div>
<h4 class="subtitle">Custom Pipe With Arguments</h4>
<p>Here below is a summary pipe which truncates long string. The transform method takes an optional argument; the character limit before truncating.
    We also provide a default value of 50 characters if no argument is provided. </p>

<pre class="col-md-10">
    <em>summary.pipe.ts</em>
    transform(value: string, <mark>limit?: number</mark>) {{'{'}}
    let setLimit = <mark>(limit) ? limit : 50;</mark>
        return value.substr(0, setLimit) + '...';
  }
    <em>component.html</em>
    &lt;div&gt;{{'{{'}}longString | <mark>summary: 35</mark>}}&lt;/div&gt;

    <em>Output</em>
    This is a really long string about ...
</pre>

</div>


<br>
<hr>

<div class="btNav">
  <button (click)="next()" class="btn b2">Forms <i class="fa fa-arrow-right"></i></button>
  <button (click)="scroll()" class="btn b2"><i class="fa fa-arrow-up"></i></button>
  <button (click)="previous()" class="btn b2"><i class="fa fa-arrow-left"></i> Services</button>
</div>









