<div class="container">
  <div>
    <h1 class="title">Angular Concepts</h1>
  </div>

  <div id="navMenu">
  <nav class="navbar navbar-expand-lg bg-light navBar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav navbar-nav nav-fill w-100">
        <li class="nav-item" *ngFor="let link of angularLinks">
          <a matRipple matRippleColor="rgba(187, 242, 250,.3)"
             class="nav-link link" [routerLink]="link.link"
             routerLinkActive="selected">{{link.name}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

  <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </cdk-virtual-scroll-viewport>

</div>


