<h2 class="subtitle">Directives</h2>
<p>Directives are functions that can alter the behaviour, appearance and the structure of your html.
    Angular provides a number of built in directives for structure, forms and routing or you can create our own custom directives.
</p>

<ul class="clickable">
    <li (click)="scroll(ngIf)">NgIf</li>
    <li (click)="scroll(ngSwitch)">NgSwitch</li>
    <li (click)="scroll(ngFor)">NgFor</li>
    <li (click)="scroll(ngContent)">Ng-Content</li>
    <li (click)="scroll(customDirective)">Custom Directives</li>
</ul>
<hr>

<!--*NG-IF-->
<div>
<h4 #ngIf class="subtitle">NgIf</h4>
<p>NgIf allows you to show or hide an html element which is bound to a property or a method that returns a boolean.</p>
<pre>
    <em>component.ts</em>
    toggleDisplay: boolean = true;

    <em>component.html</em>
    &lt;div <mark>*ngIf=&quot;toggleDisplay&quot;</mark>&gt;Show Text If True....&lt;/div&gt;
</pre>

<p>We can also use other keywords such as 'then' and 'else' tell angular which template we want to show depending on a condition.
In this example we are using ngTemplate and ngFor which are also directives</p>

<pre>
    <em>component.ts</em>
  basket [];

    <em>component.html</em>
  &lt;div *ngIf=&quot;basket.length &gt; 0; <mark>then basketSummary else emptyBasket&quot;</mark>&gt;&lt;/div&gt;

  &lt;ng-template <mark>#basketSummary</mark>&gt;
  &lt;ul&gt;
  &lt;li *ngFor=&quot;let item of basket&quot;&gt;
    {{'{{item}\}'}}
    &lt;/li&gt;
  &lt;/ul&gt;
  &lt;/ng-template&gt;

  &lt;ng-template <mark>#emptyBasket</mark>&gt;
  Basket is Empty&lt;/ng-template&gt;
</pre>
</div>
<hr>


<!--NG-SWITCH-->
<div>
<h4 #ngSwitch class="subtitle">NgSwitch</h4>
<p>NgSwitch is a structural directive that adds or removes templates when it matches the switch expression. The expressions to match
are provided in the ngSwitchCase directive. If there are no matches then the ngSwitchDefault directive is rendered. </p>
<pre>
    <em>component.ts</em>
  dietSelected: string = 'veg';

    <em>component.html</em>
  &lt;div <mark>[ngSwitch]=&quot;dietSelected&quot;</mark>&gt;
  &lt;p <mark>*ngSwitchCase=</mark>&quot;'gf'&quot;&gt;Gluten-free&lt;/p&gt;
  &lt;p *ngSwitchCase=&quot;'veg'&quot;&gt;Vegetarian / Vegan&lt;/p&gt;
  &lt;p *ngSwitchCase=&quot;'paleo'&quot;&gt;Paleo&lt;/p&gt;
  &lt;p <mark>*ngSwitchDefault</mark>&gt;No dietary Requirement&lt;/p&gt;
  &lt;/div&gt;
</pre>
</div>
<hr>


<!--NG-FOR-->
<div>
<h4 #ngFor class="subtitle">NgFor</h4>
<p>NgFor is used like a for each loop, where it iterates over an array/list. We create a variable to hold the each item as it iterates, we then reference that variable to print out the value.
    There are also other local variables that we can use such as 'index' which prints the iteration count, 'first' and 'last' which
return booleans to indicate if item is first or last, likewise with 'odd' and 'even'. </p>

<pre>
    <em>component.ts</em>
 basket: string[];
 constructor() {{'{'}}
    this.basket = ['Apples', 'Milk', 'Bread', 'Shampoo']
  {{'}'}}

    <em>component.html</em>
    &lt;div <mark>*ngFor=&quot;let item of basket; index as i&quot;</mark>&gt;{{"{{i}\}"}} : {{"{{item}\}"}}&lt;/div&gt;
</pre>
</div>
<hr>


<!--NG-CONTENT-->
<div>
<h4 #ngContent class="subtitle">NgContent</h4>
<p>NgContent allows us to build reusable components without having to hardcode the content. For example if we had a
bootstrap card component we can use the ng-content selector inside to indicate that the content will be provided when the component template is rendered.
If we have multiple ng-content selectors then we can give them an id.</p>
<pre>
    <em>card.component.html</em>
 &lt;div class=&quot;card&quot;&gt;
  &lt;div class=&quot;card-header&quot;&gt;
  <mark>&lt;ng-content select=&quot;.heading&quot;&gt;&lt;/ng-content&gt;</mark>
  &lt;/div&gt;
  &lt;div class=&quot;card-body&quot;&gt;
  <mark>&lt;ng-content select=&quot;.body&quot;&gt;&lt;/ng-content&gt;</mark>
  &lt;/div&gt;
&lt;/div&gt;

    <em>another.component.html</em>
  &lt;card-component&gt;
    &lt;div <mark>class=&quot;heading&quot;</mark>&gt;This is the Heading&lt;/div&gt;
    &lt;div <mark>class=&quot;body&quot;</mark>&gt;This is the Body&lt;/div&gt;
  &lt;/card-component&gt;
</pre>

<em>Example</em> <br>
<card-component>
    <div class="heading">This is the Heading</div>
    <div class="body">This is the Body</div>
</card-component>
</div>
<hr>


<!--CUSTOM DIRECTIVES-->
<div>
<h4 #customDirective class="subtitle">Custom Directives</h4>
<p>Custom attribute directives can be created to apply visual changes to a element. Generate a directive file in the CLI with the following command, this will generate a file that looks like so:</p>
<pre>
    <mark>ng generate directive highlight-directive</mark>

    <em>highlight-directive.ts</em>
    import {{'{'}}Directive{{'}'}} from '@angular/core'

    @Directive({{'{'}}
        selector: '[highlightDirective]'
    {{'}'}})

    export class HilightDirective {{'{'}}
        constructor() {{'{'}} {{'}'}}
    {{'}'}}
</pre>
<p>To apply a directive to a DOM element we need to inject ElementRef into the constructor</p>
<pre>
    constructor(<mark>private el: ElementRef</mark>) {{'{'}} {{'}'}}
    {{'}'}}
</pre>

<p>Now that we have reference to the element we can apply changes or styling. In this example we will use @HostListener to apply the colour yellow when the user
mouses over the element</p>

<pre>
  @HostListener('mouseenter') onMouseEnter() {{'{'}}
    <mark>this.highlight('yellow');</mark>
  }

  @HostListener('mouseleave') onMouseLeave() {{'{'}}
    this.highlight(null);
  }

  private highlight(colour: string) {{'{'}}
    <mark>this.el.nativeElement.style.backgroundColor = colour;</mark>
  }
</pre>

<p>We can make this directive even more dynamic so we dont have to hard code the colour, by making the colour an input property</p>
<pre>
    <em>highlight.directive.ts</em>
  <mark>@Input() colour: string;</mark>.

  @HostListener('mouseenter') onMouseEnter() {{'{'}}
    <mark>this.highlight(this.colour);</mark>
  }
</pre>

<p>We can now use the directive on any element like so:</p>
<pre>
    <em>component.html</em>
    &lt;div <mark>highlightDirective [colour]=&quot;pink&quot;</mark>&gt;&lt;/div&gt;
    &lt;div <mark>highlightDirective [colour]=&quot;cyan&quot;</mark>&gt;&lt;/div&gt;
</pre>
<em>Try me...</em> <br>
<div highlightDirective [colour]="'pink'">Hover over me - I have been set to pink </div>
<div highlightDirective [colour]="'cyan'">Hover over me - I have been set to cyan </div>
</div>



<br>
<hr>

<button (click)="next()" class="btn btn-outline-info b2">Services <i class="fa fa-arrow-right"></i></button>
<button (click)="top()" class="btn btn-outline-info b2"><i class="fa fa-arrow-up"></i></button>
<button (click)="previous()" class="btn btn-outline-info b2"><i class="fa fa-arrow-left"></i> Input & Output</button>