<div>
<nav class="navbar navbar-expand navbar-light bg-light">
  <a  [routerLink]="['/home']" class="navbar-brand navTitle"><i class="fab fa-angular"></i> {{title}}  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/angular']" routerLinkActive="router-link-active">Angular</a>
    </li>
  </ul>
</nav>
</div>
<div class="box col-md-10">
<div [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o = outlet></router-outlet>
  </div>
</div>


