


<div class="menu">
  <h4 class="menuBrand"><i class="fab fa-angular"></i> Angular Tutorial</h4>
    <a  class="link" *ngFor="let link of angularLinks"
        [routerLink]="link.link" (click)="loadComponent(link.link)" routerLinkActive="active">{{link.name}}</a>


</div>

<div class="mainContainer">

  <div class="content" [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o = outlet></router-outlet>
  </div>
</div>


<div class="pageFooter">
  <p>Developed by Satty Kaur</p>
  <p>Email: <a class="gitLink" href="mailto:sattykaur35@gmail.com">sattyKaur35@gmail.com</a></p>
  <p><a class="gitLink" href="https://github.com/SattyKaur">github.com/SattyKaur</a></p>
</div>
